{:paths ["src" "tests" "dev"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.3"}
         com.github.narimiran/aoc-utils {:git/tag "v0.9.1" :git/sha "122f474"}
         criterium/criterium            {:mvn/version "0.4.6"}
         io.github.nextjournal/clerk    {:mvn/version "0.18.1158"}
         quil/quil                      {:mvn/version "4.3.1563"}}
 :aliases
 {:profile {:jvm-opts   ["-Djdk.attach.allowAttachSelf"]
            :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                         com.taoensso/tufte                       {:mvn/version "3.0.0"}}}
  :nextjournal/clerk {:exec-fn   nextjournal.clerk/build!
                      :exec-args {:paths ["index.md"
                                          "src/day*.clj"]
                                  :index "index.md"}}
  :test    {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts  ["-m" "kaocha.runner"]}
  :splint  {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.22.0"}}
            :main-opts  ["-m" "noahtheduke.splint"]}
  :debug   {:extra-deps {com.github.flow-storm/clojure        {:mvn/version "1.12.3-4"}
                         com.github.flow-storm/flow-storm-dbg {:mvn/version "4.5.9"}}
            :jvm-opts   ["-Dclojure.storm.instrumentEnable=true"
                         "-Dclojure.storm.instrumentOnlyPrefixes=aoc,day"
                         "-Dflowstorm.theme=dark"
                         "-Dflowstorm.fileEditorCommand=emacsclient -n +<<LINE>>:0 <<FILE>>"]}}}
