{:paths ["src" "tests" "dev"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.5"}
         com.github.narimiran/aoc-utils {:git/tag "v0.9.4" :git/sha "c803922"}
         criterium/criterium            {:mvn/version "0.4.6"}
         org.scicloj/clay               {:mvn/version "2.0.23"}
         quil/quil                      {:mvn/version "4.3.1563"}}
 :aliases
 {:profile {:jvm-opts   ["-Djdk.attach.allowAttachSelf"]
            :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}
                         com.taoensso/tufte                       {:mvn/version "3.0.2"}}}
  :clay    {:main-opts ["-m" "scicloj.clay.v2.main"]}
  :test    {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts  ["-m" "kaocha.runner"]}
  :splint  {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.24.0"}}
            :main-opts  ["-m" "noahtheduke.splint"]}
  :debug   {:extra-deps {com.github.flow-storm/clojure        {:mvn/version "1.12.5"}
                         com.github.flow-storm/flow-storm-dbg {:mvn/version "4.5.9"}}
            :jvm-opts   ["-Dclojure.storm.instrumentEnable=true"
                         "-Dclojure.storm.instrumentOnlyPrefixes=aoc,day"
                         "-Dflowstorm.theme=dark"
                         "-Dflowstorm.fileEditorCommand=emacsclient -n +<<LINE>>:0 <<FILE>>"]}}}
